<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Ayesha.</h1>
      <h3 class="section-subheading">
        I'm a design-driven, detail-oriented software engineer focused on
        combining elegant code and intuitive design, with hands-on experience in
        training AI models.
      </h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/image.jpg" alt="headshot" />
        <div class="about-text-wrapper">
          <p class="about-text">
            I'm a software engineer and UI/UX designer passionate about building
            user-focused digital experiences. I have experience in web and
            mobile development using technologies like Next.js, Typescript and
            React Native, along with designing intuitive interfaces in Figma.
          </p>

          <p class="about-text">
            Over the past few months, I have been building my foundation in
            Artificial Intelligence alongside my development work. I completed a
            course in Artificial Intelligence, where I gained experience in
            training basic models and working with data. I developed a strong
            understanding of core AI concepts and algorithms, including
            regression, decision trees, and KNN, along with working knowledge of
            deep learning, neural networks, CNNs, and computer vision. I also
            explored signal and image processing techniques, where data is
            preprocessed and prepared for effective model training.
          </p>

          <p class="about-text">
            Currently, I am working as a Junior AI Developer intern, applying
            these concepts to real-world problems. I am gaining hands-on
            experience in implementing and training machine learning models for
            prediction tasks, as well as working with APIs and testing tools,
            while continuing to grow in applied AI and machine learning.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
