<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Ayesha.</h1>
      <h3 class="section-subheading">I'm a design-driven, detail-oriented software engineer focused on combining elegant code and intuitive design, with hands-on experience in training AI models.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/image.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text">I'm a software engineer and UI/UX designer passionate about building user-focused digital experiences. I have experience in web and mobile development using technologies like Next.js, Typescript and React Native, along with designing intuitive interfaces in Figma.</p>
          <p class="about-text">Over the past few months, I started exploring AI alongside my development work. I took a course in machine learning and artificial intelligence, where I got hands-on experience training basic models and working with data. I have experimented with algorithms like KNN and SVM, and also explored deep learning concepts such as neural networks and CNN-based models. I have also explored areas like computer vision and basic signal processing, where raw data is processed and used for model training.</p>
          <p class="about-text">I'm still in the early stage of my AI journey, but I'm genuinely interested in learning more especially in areas like computer vision, image processing, and applied machine learning.</p>
        </div>
      </div>
    </div>
  </div>
</section>
